fastapi
uvicorn[standard]
psycopg2-binary
python-multipart
pandas
pydantic
ultralytics
opencv-python
numpy
transformers
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu